@model PMApp.Models.Tax_Parcel

@{
    ViewData["Title"] = "Edit";
}

    <div class="reportHeader">
        <h3>
            <img src="~/img/tax.png" alt="Repair Icon" width="55" height="60" />
            Edit tax record
        </h3>
    </div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <select asp-for="BuildingId" class="form-control" asp-items="ViewBag.BuildingId"></select>
                <span asp-validation-for="BuildingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button" asp-action="Index" asp-route-buildingid ="@Model.BuildingId">Back to List</a>
</div>

