@model PMApp.Models.Tax_Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Building.Org_name</h1>

<div>
    <h4>Tax Parcel Number</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building.TPID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building.TPID)
        </dd>
    </dl>
</div>
<p>
    <input type="button" class="button" value="BACK TO REPORT"
           onclick="location.href='@Url.Action("Index", "TaxReport")'" />
</p>
