@model PMApp.Models.Move_in

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css" />
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                xdialog.alert("@ViewBag.Message");
            };
    </script>
}


<div class="reportHeader">
    <h1>
        <img src="~/img/movein.jpg" alt="Repair Icon" width="55" height="60" />
        Move in a Tenant
    </h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitUID" class="control-label"></label>
                <select asp-for="UnitUID" class="form-control" asp-items="ViewBag.UnitUID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenantTID" class="control-label"></label>
                <select asp-for="TenantTID" class="form-control" asp-items="ViewBag.TenantTID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carpet" class="control-label"></label>
                <input asp-for="Carpet" class="form-control" />
                <span asp-validation-for="Carpet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appliances" class="control-label"></label>
                <input asp-for="Appliances" class="form-control" />
                <span asp-validation-for="Appliances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walls" class="control-label"></label>
                <input asp-for="Walls" class="form-control" />
                <span asp-validation-for="Walls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refundable_deposit" class="control-label"></label>
                <input asp-for="Refundable_deposit" class="form-control" />
                <span asp-validation-for="Refundable_deposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nonrefundable_deposit" class="control-label"></label>
                <input asp-for="Nonrefundable_deposit" class="form-control" />
                <span asp-validation-for="Nonrefundable_deposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet_deposit" class="control-label"></label>
                <input asp-for="Pet_deposit" class="form-control" />
                <span asp-validation-for="Pet_deposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <input type="button" class="button" value="TO PROPERTIES"
           onclick="location.href='@Url.Action("Index", "Buildings")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
