@model PMApp.Models.Tenant

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css" />
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                xdialog.alert("@ViewBag.Message");
            };
    </script>
}

<div class="reportHeader">
    <h3>
       <img src="~/img/grandmother.jpg" alt="Repair Icon" width="55" height="60" />
        Edit Tenant @Model.Last_name @Model.First_name
    </h3>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TID" />
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div style="display:none" class="form-group">
                <label asp-for="ReservedUnit" class="control-label"></label>
                <input asp-for="ReservedUnit" class="form-control" />
                <span asp-validation-for="ReservedUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employer" class="control-label"></label>
                <input asp-for="Employer" class="form-control" />
                <span asp-validation-for="Employer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lease_start_date" class="control-label"></label>
                @if (Model.Current.Equals("Yes") || Model.Current.Equals("No"))
                {<input readonly asp-for="Lease_start_date" class="form-control" />}
                else
                { <input asp-for="Lease_start_date" class="form-control" />}
                <span asp-validation-for="Lease_start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lease_end_date" class="control-label"></label>
                @if (Model.Current.Equals("No"))
                {<input readonly asp-for="Lease_end_date" class="form-control" /> }
                else
                { <input asp-for="Lease_end_date" class="form-control" />}
                <span asp-validation-for="Lease_end_date" class="text-danger"></span>
            </div>
            <div style="display:none" class="form-group">
                <label asp-for="Current" class="control-label"></label>
                <input readonly asp-for="Current" class="form-control" />
                <span asp-validation-for="Current" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pets" class="control-label"></label>
                <input asp-for="Pets" class="form-control" />
                <span asp-validation-for="Pets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" class="button" value="TO TENANT"
           onclick="location.href='@Url.Action("Details", "Tenants", new { id = Model.TID })'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
