@model PMApp.Models.Building

@{
    ViewData["Title"] = "Edit";
}

    <div class="reportHeader">
        <h1>
            <img src="~/img/building.jpg" alt="Repair Icon" width="55" height="60" />
            Edit @Model.Org_name
        </h1>
    </div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BuildingId" />
            <div class="form-group">
                <label asp-for="Org_name" class="control-label"></label>
                <input asp-for="Org_name" class="form-control" />
                <span asp-validation-for="Org_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Count" class="control-label"></label>
                <input readonly asp-for="Unit_Count" class="form-control" />
                <span asp-validation-for="Unit_Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip_code" class="control-label"></label>
                <input asp-for="Zip_code" class="form-control" />
                <span asp-validation-for="Zip_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TPID" class="control-label"></label>
                <input asp-for="TPID" class="form-control" />
                <span asp-validation-for="TPID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <input type="button" class="button" value="BACK TO PROPERTIES"
           onclick="location.href='@Url.Action("Index", "Buildings")'" />
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
