@model PMApp.Models.Rent

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css" />
<script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                xdialog.alert("@ViewBag.Message");
            };
    </script>
}

<div class="reportHeader">
    <h3>
        <img src="~/img/calculator.jpg" alt="Money Icon" width="55" height="60" />
        Select Due Date
    </h3>
</div>
<h5>Click Submit to create a batch invoice for all current tenants</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date_due" class="control-label"></label>
                <input asp-for="Date_due" class="form-control" />
                <span asp-validation-for="Date_due" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" class="button" value="Back to List"
           onclick="location.href='@Url.Action("Index", "Accounting")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
